
a:link {
    color:red;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:rgb(172, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color:rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}
p {
    color:yellow;
}